.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
#ratingColumn .label {
    -fx-background-color: #446c0c;
    -fx-text-fill: #ccb8af;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 5px;
}
#commentColumn .label {
    -fx-background-color: #9eab5c;
    -fx-text-fill: #372d22;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 5px;
}
#timeColumn .label {
    -fx-background-color: #fbd686;
    -fx-text-fill: #372d22;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 5px;
}
#tableView .table-row-cell {
    -fx-background-color: #ccb8af;
}
#tableView .table-row-cell:odd {
    -fx-background-color: derive(#ccb8af, 20%);
}
/* Style for the TableCell */
.table-cell {
    -fx-border-color: #372d22;
    -fx-padding: 2 0 2 10px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #372d22;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #372d22;
}